.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.multy-steps-form {
  width: 30vw;
}

.form-step {
  padding: 10px;
}

body {
  background: #fff;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-input-alert {
  display: none;
}